body {
  text-align: center;
}

h3,
h4 {
  color: royalblue;
}

h1,
h2,
h3,
h4 {
  text-decoration-line: underline;
}

.box1 {
  width: 25px;
  height: 75px;
  background-color: red;
  border: solid 10px black;
}

.box2 {
  width: 25px;
  height: 75px;
  background-color: rgb(29, 4, 139);
  border: dotted 5px pink;
  margin: 0 20px;
}

.box3 {
  width: 25px;
  height: 75px;
  background-color: rgb(196, 88, 0);
  border: dotted 20px purple;
}
